{% extends "layouts/main.html" %}

{% block pageTitle %}
  {% if data['contact-email-error'] == 'true' %}Error: {% endif %}Contact information – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {% from "govuk/components/header/macro.njk" import govukHeader %}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}

{{ hmrcHeader({
  serviceUrl : "/",
  useTudorCrown: "true"
}) }}
{{ govukServiceNavigation({
    serviceName: "Book and manage an oral exam",
  navigation: [
    
  ]
}) }}
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "Beta"
    },
    html: 'This is a new service. Help us improve it and <a class="govuk-link" target="_blank" href="#">give your feedback (opens in new tab)</a>.'
  }) }}
  
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% if data['contact-email-error'] == 'true' %}
        {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: [{
            text: "Select an option",
            href: "#correct-email"
          }]
        }) }}
      {% endif %}

      <h1 class="govuk-heading-l">
        Contact information
      </h1>
      
      <p class="govuk-body">
        We need your email address to send you a link to your oral exam.
      </p>
      <p class="govuk-body">
        Below is the contact information we have for you. Check it is is up to date.
      </p>
      
      <br>
      
      <p class="govuk-body">
        <span class="govuk-!-font-weight-bold">Email: </span> **wally5**@g****.com  
      </p>
      
      <br>

      <form class="form" action="contact-email-check" method="post" novalidate>

        {% from "govuk/components/radios/macro.njk" import govukRadios %}

        {{ govukRadios({
          idPrefix: "correct-email",
          name: "correctEmail",
          fieldset: {
            legend: {
              text: "Is this the correct contact information?"
            }
          },
          errorMessage: data['contact-email-error'] == 'true' and {
            text: "Select an option"
          },
          items: [
            {
              value: "yes",
              text: "Yes",
              checked: data['correctEmail'] == 'yes'
            },
            {
              value: "no",
              text: "No, I need to change it",
              checked: data['correctEmail'] == 'no'
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}