{% extends "layouts/main.html" %}

{% block pageTitle %}
  How to update your contact information – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {% from "govuk/components/header/macro.njk" import govukHeader %}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}

{{ hmrcHeader({
  serviceUrl : "/",
  useTudorCrown: "true"
}) }}
{{ govukServiceNavigation({
    serviceName: "Book and manage an oral exam",
  navigation: [
    
  ]
}) }}
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "Beta"
  },
  html: 'This is a new service. Help us improve it and <a class="govuk-link" target="_blank" href="#">give your feedback (opens in new tab)</a>.'
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        How to update your contact information 
      </h1>

      <p>
      You need to update your contact information before you can book an exam.
      </p> 
      
      <p>
        Contact the MCA to update your contact information.
        </p>
        <h2 class="govuk-heading-s">
        Email
      </h2>
         <ul class="govuk-list govuk-list--bullet">
         <li><a href="mailto:example@email.com" class="govuk-link">deck@mcga.gov.uk</a> for deck officers</li>
        <li><a href="mailto:example@email.com" class="govuk-link">engineering@mcga.gov.uk</a> for engineer officers
        </li>
      </ul>
      <h2 class="govuk-heading-s">
        Phone
      </h2>
      <p>
       +44 (0)20 3817 2200
        </p>

    </div>
  </div>

{% endblock %}
