{% extends "layouts/main.html" %}

{% block pageTitle %}
  Record not found – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {% from "govuk/components/header/macro.njk" import govukHeader %}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}

{{ hmrcHeader({
  serviceUrl : "/",
  useTudorCrown: "true"
}) }}
{{ govukServiceNavigation({
    serviceName: "Book and manage an oral exam",
  navigation: [
    
  ]
}) }}
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "Beta"
  },
  html: 'This is a new service. Help us improve it and <a class="govuk-link" target="_blank" href="#">give your feedback (opens in new tab)</a>.'
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Record not found
      </h1>

      <p>
      No record was found that matches the information you entered.
      </p> 
      <p class="govuk-body">
        <span class="govuk-!-font-weight-bold">Date of birth: </span> {{ data['dob-day'] }}/{{ data['dob-month'] }}/{{ data['dob-year'] }}
      </p>
      <p class="govuk-body">
        <span class="govuk-!-font-weight-bold">SDS number: </span> {{ data['sdsNumber'] }}
      </p>
      <p>You can<a href="date-of-birth.html" class="govuk-link"> try entering your information again.</a>
      </p>
      <br>
      <h2 class="govuk-heading-m">
        Get help
      </h2>

     <p class="govuk-body">
        If you continue to have problems, you can contact us by:
            </p>
            <h2 class="govuk-heading-s">
        Email
      </h2>
         <ul class="govuk-list govuk-list--bullet">
         <li><a href="mailto:example@email.com" class="govuk-link">deck@mcga.gov.uk</a> for deck officers</li>
        <li><a href="mailto:example@email.com" class="govuk-link">engineering@mcga.gov.uk</a> for engineer officers
        </li>
      </ul>
      <h2 class="govuk-heading-s">
        Phone
      </h2>
      <p>
       +44 (0)20 3817 2200
        </p>

    </div>
  </div>

{% endblock %}
