{% extends "layouts/main-v2.html" %}

{% block pageTitle %}
  {% if data['confirm-error'] == 'true' or data['other-reason-error'] == 'true' %}Error: {% endif %}
          Privacy notice
 – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {% from "govuk/components/header/macro.njk" import govukHeader %}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}

{{ hmrcHeader({
  homepageUrl : "/",
  signOutHref : "?sign-out",
  useTudorCrown: "true"
}) }}
{{ govukServiceNavigation({
    serviceName: serviceName,
    slots: {
    },
    classes: "govuk-header--full-width-border"
  }) }}
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "Beta"
    },
    html: 'This is a new service. Help us improve it and <a class="govuk-link" target="_blank" href="#">give your feedback (opens in new tab)</a>.'
  }) }}
  
      {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
          Privacy notice
      </h1>

<p>
  This privacy notice describes how we collect and use your personal information when you apply for an Online Oral Exam (OOE), or when we issue Certificates of Competency (CoC). 
  
</p> 
<p>
  The data controller for your personal information is the Maritime and Coastguard Agency (MCA). This notice sets out how your data will be used, and your rights under the UK General Data Protection Regulation (GDPR) and the Data Protection Act 2018.
  
</p>
       <h2 class="govuk-heading-m">
What data we collect</h2> 
 
<p>
  The MCA collects and processes personal data when you apply for an oral exam. We collect this data to ensure that we have sufficient information for us to check your eligibility.  
  
</p>
<p>The personal data we collect from you includes your:</p> 
 
<ul class="govuk-list govuk-list--bullet">
<li>name</li> 
<li>date of birth </li>
<li>country of birth</li> 
<li>place of birth </li>
<li>email address </li>
<li>SDS number </li> 
<li>address</li> 
<li>phone number</li> 
<li>sex as it appears on your passport</li> 
<li>passport details </li>
<li>sponsoring company</li>
<li>seagoing service and related evidence</li> 
<li>supporting documents, such as medical fitness certificates and qualifications </li>
</ul>

       <h2 class="govuk-heading-m">
Why we need your data </h2>
<p>
The MCA will use the information you provide to ascertain eligibility and entitlement for an online oral exam and CoC. </p> 
       <h2 class="govuk-heading-m">
Our legal basis for processing your data  </h2>
 <p>
Processing your data enables the MCA to carry out its official duty relating to Online Oral Exams and the issuing of a CoC.  
</p>
<p>We process your data to:</p>
<ul class="govuk-list govuk-list--bullet">
<li>ensure an applicant is entitled to apply for an oral exam</li>
<li>enable an applicant to book an oral exam</li>
<li>contact the applicant (if required) for the purpose of processing an OOE booking</li> 
</ul>
 <p>
The legal basis for processing your personal data is that it’s necessary: 
 </p>
 <ul class="govuk-list govuk-list--bullet">
<li>to perform a task in the public interest</li>
<li>in the exercise of our functions as a government department</li>
</ul>
        <h2 class="govuk-heading-m">
What we do with your data</h2>
 
<p>The information you provide is used for booking an oral exam, issuing your UK CoC, and other related purposes. Information you provide may be shared with other statutory bodies or organisations to enable them to fulfil their statutory obligations.</p> 
 
         <h2 class="govuk-heading-m">
How long we keep your data  </h2>
 
<p>
  We will retain your personal data for as long as you have a valid CoC. If your CoC has an expiry date, has not been revalidated, and you have not returned to sea within 25 years of the CoCs expiry, we will remove your personal data from our systems. 
  </p>
<p>
  Where your certificate does not have an expiry date, such as Global Maritime Distress and Safety System (GMDSS) certifications, we will dispose of your data in line with our retention schedules. 
  
</p>
<p>
  The MCA records OOEs and Part B OOEs, to enable a review in the event of a candidate’s appeal or an examiner’s concern. To protect the integrity of the OOE system, candidates will not have access to, or be able to obtain, a copy of the recording. 
  
</p>
<p>
  Where no appeal is received, the recording will be deleted after 90 days. If candidates wish to appeal, they should do so within <strong>FIVE WORKING DAYS</strong>. Any appeal made after five working days will not be considered. 
  
</p>

<h2 class="govuk-heading-m">
Where your data is processed and stored  </h2>
 
<p>Your data is stored on the MCA’s secure infrastructure. </p>

          <h2 class="govuk-heading-m"> 
Your rights  </h2>
 
<p>
  Information on how the MCA looks after data, your rights, how to contact our data protection officer and how to complain about the processing of your personal data can be found within our <a href="https://www.gov.uk/government/organisations/maritime-and-coastguard-agency/about/personal-information-charter" target="_blank">personal information charter (opens in a new window)</a>. 
</p>    
</div>
  </div>

{% endblock %}
