{% extends "layouts/main-v2.html" %}

{% block pageTitle %}
  {% if data['confirm-error'] == 'true' or data['other-reason-error'] == 'true' %}Error: {% endif %}
          Terms and conditions
 – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {% from "govuk/components/header/macro.njk" import govukHeader %}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}

{{ hmrcHeader({
  homepageUrl : "/",
  useTudorCrown: "true"
}) }}
{{ govukServiceNavigation({
    serviceName: serviceName,

    slots: {
    },
    classes: "govuk-header--full-width-border"
  }) }}
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "Beta"
    },
    html: 'This is a new service. Help us improve it and <a class="govuk-link" target="_blank" href="#">give your feedback (opens in new tab)</a>.'
  }) }}

    {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
  

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Terms and conditions
      </h1>

      <p>
By using this service, you indicate that you accept these terms and conditions and agree to abide by them. 
</p>
      <h2 class="govuk-heading-m">
Who we are 
</h2>
<p>

This website is managed by the <a href="https://www.gov.uk/government/organisations/maritime-and-coastguard-agency">Maritime and Coastguard Agency</a> (MCA).  </p>
<p>
  The MCA is an executive agency of the <a href="https://www.gov.uk/government/organisations/department-for-transport">Department for Transport</a> (DfT). 
  
</p>
<h2 class="govuk-heading-m">
  Using this Maritime and Coastguard Agency (MCA) service 
  
</h2>
<p>
  You agree to use our services only for lawful purposes. You must also use them in a way that does not infringe the rights of or restrict or inhibit the use and enjoyment of this site by anyone else. 
  
</p>
<p>
  We update content all the time. We can change or remove content at any time without notice. 
  
</p>
<h2 class="govuk-heading-m">
  Services and transactions 
  
</h2>
<p>
  You can use this site to link to <a href="https://gov.uk">GOV.UK</a>, to access online government services and transactions, such as ‘Apply for a CoC’ or ‘Book a survey’. 
  
</p>
<p>
  These can be managed by the MCA or another government department or agency. 
  
</p>
<p>
  Some services have their own terms and conditions which also apply - read these before you use the service. 
  
</p>
<h2 class="govuk-heading-m">
  Linking to this Maritime and Coastguard Agency (MCA) service 
  
</h2>
<p>
  We welcome and encourage other websites to link to <a href="#">[Insert web address]</a>, providing such links do not misrepresent your relationship with us or imply endorsement. 
  
</p>
<p>
  You must contact the Seafarer Operations switchboard on +44 333 399 0040 for permission if you want to: 
  
</p>
<ul class="govuk-list govuk-list--bullet">
<li>
    charge your website’s users to click on a link to any page on <a href="#">[Insert web address]</a>, or 
  
</li>  
<li>
  say your website is associated with or endorsed by the MCA, or another government department or agency 
  
</li> </ul>
<h2 class="govuk-heading-m">
  Linking from this Maritime and Coastguard Agency (MCA) service 
  
</h2>
<p>
  The <a href="#">[Insert web address]</a> links to websites that are managed by other government departments and agencies, service providers, or other organisations. We do not have any control over the content on these websites. 
  
</p>
<p>
  We’re not responsible for: 
  
</p>
<ul class="govuk-list govuk-list--bullet">
<li>
    the protection of any information you give to these websites 
  
</li>  
<li>
  any loss or damage that may come from your use of these websites, or any other websites they link to 
  
</li>  
<li>
  the privacy practices, content, or security of external sites. You should review the terms and privacy policies of any third-party sites. 
  
</li>  
</ul> 
<p>
  You agree to release us from any claims or disputes that may come from using these websites. 
  
</p>
<p>
  You should read all terms and conditions, privacy policies and end user licences that relate to these websites before you use them. 
  
</p>
<h2 class="govuk-heading-m">
  Disclaimer 
  
</h2>
<p>
  While we make every effort to keep this Maritime and Coastguard Agency (MCA) service up to date, we do not accept legal responsibility for any errors, omissions or misleading statements. 
  
</p>
<p>
  We do not accept liability for loss or damage incurred by users of this service, whether direct, indirect, or consequential. 
  
</p> 
<p>
  We do not accept liability for loss or damage incurred by users of this service, whether caused by civil wrongs (‘tort’, including negligence), breach of contract or otherwise.  
  
</p> 
<p>
  We do not accept liability for loss or damage incurred by users of this service, in connection with:  
  
</p>
<ul class="govuk-list govuk-list--bullet">
<li>
    our site 
  
</li>  <li>its use </li>
<li>
    the inability to use 
  
</li>  <li>results of the use </li>
<li>
    any websites linked to it 
  
</li>  <li>any materials posted on it </li>
</ul>
  <p>
    This includes loss of: 
    
    <ul class="govuk-list govuk-list--bullet">

<li>
        income or revenue 
  
</li>      <li>business </li>
<li>
        profits or contracts 
  
</li>      <li>anticipating savings</li> 
<li>
        data 
  
</li>      <li>goodwill </li>
<li>
        tangible property 
  
</li>      <li>wasted management or office time </li>
    </ul>
 
<p>
  Websites, or web pages to which this website is linked are for information purposes only. The MCA does not control, endorse, sponsor, or approve content on such websites or pages, except where it is otherwise stated. 
  
</p> 
<p>
  The MCA does not accept responsibility or liability for any losses or penalties incurred as a consequence of your:  
  
</p>
<ul class="govuk-list govuk-list--bullet">

<li>
  use of any links 
  
</li>
<li>
  reliance on the content of any website or web pages to which this website is linked 
  
</li>
</ul>

<p>
    It is the user’s responsibility to install, configure, and maintain all necessary security software on their personal devices. We are not liable for any security breaches that occur due to a user's failure to implement or maintain adequate security measures. 
  
</p>  

<p>
  You may not frame or link this website to any other website without the prior written consent of the MCA. 
  
</p>
<h2 class="govuk-heading-m">
  Information about you and your visits to this Maritime and Coastguard Agency (MCA) service 
  </h2> 

<p>
  We collect information about you in accordance with our <a href="privacy-notice">Privacy notice</a>  and our <a href="cookies">Cookies policy</a>. By using <a href="#">[Insert web address]</a>, you agree to us collecting this information and confirm that any data you provide is accurate. 
  
</p>
<h2 class="govuk-heading-m">
  Virus protection 
</h2>
<p>
  We make every effort to check and test material at all stages of production. You must take precautions to ensure that the process you employ for accessing <a href="#">[Insert web address]</a> does not expose you to the risk of viruses, malicious computer code or other forms of interference which may damage your own computer system. 
  
</p>
<p>
  We are not responsible for any loss, disruption or damage to your data or computer system which may occur while using material derived from <a href="#">[Insert web address]</a>  
  
</p>
<h2 class="govuk-heading-m">
Viruses, hacking and other offences 
</h2>

<p>
  When using <a href="#">[Insert web address]</a>, you must not introduce viruses, trojans, worms, logic-bombs or any other material that’s malicious or technologically harmful. 
  
</p>
<p>
  You must not try to gain unauthorised access to the server on which it’s stored, or any server, computer or database connected to it. 
  
</p>
<p>
  You must not attack <a href="#">[Insert web address]</a> in any way. This includes denial-of-service attacks. 
  
</p>
<p>
  We’ll report any attacks or attempts to gain unauthorised access to <a href="#">[Insert web address]</a> to the relevant law enforcement authorities and share information about you with them. 
  
</p>
<h2 class="govuk-heading-m">
Changes </h2>

<p>
  The MCA reserves the right, at its discretion, to make changes to any part of <a href="#">[Insert web address]</a> information or any associated terms. Should the MCA change its terms, we will publish details of the changes on <a href="#">[Insert web address]</a>. 
  
</p>
<h2 class="govuk-heading-m">
Governing law </h2>

<p>
  These terms and conditions are governed by and construed in accordance with the laws of England and Wales. 
  
</p>
<p>
Any dispute you have which relates to these terms and conditions, or your use of the site (whether it be contractual or non-contractual), will be subject to the exclusive jurisdiction of the courts of England and Wales.   
</p> 


    </div>
  </div>

{% endblock %}
