{% extends "layouts/main-v2.html" %}

{% block pageTitle %}
  No exams – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {% from "govuk/components/header/macro.njk" import govukHeader %}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}

{{ hmrcHeader({
  homepageUrl : "/",
  signOutHref : "signed-out",
  useTudorCrown: "true"
}) }}
{{ govukServiceNavigation({
    serviceName: serviceName,
      navigation: [   
      {
      href: "dashboard",
      text: "Dashboard"
      
    },
    {
      href: "exams",
      text: "Oral exams",
      active: true
    }
],
        slots: {
    },
    classes: "govuk-header--full-width-border"
  }) }}
{% endblock %}


{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "Beta"
  },
  html: 'This is a new service. Help us improve it and <a class="govuk-link" target="_blank" href="#">give your feedback (opens in new tab)</a>.'
}) }}
{% endblock %}


{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Exams
      </h1>


      <h2 class="govuk-heading-m">Oral exams</h2>

   
      {% set completedStatus = {
        tag: {
          text: "Exam booked",
          classes: "govuk-tag--blue"
        }
      } %}

      {% set incompleteStatus = {
        tag: {
          text: "Failed",
          classes: "govuk-tag--red"
        }
      } %}

      {# To switch between the completed and incomplete statues, use some inline logic within the component below, like this: "status: (completedStatus if ... else incompleteStatus)" #}

      {{ govukTaskList({
        idPrefix: "first-section",
        items: [
          {
            title: {
              text: "You cannot book any oral exams at this time."
            }
          }
        ]
      }) }}

      <details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Why can't I book an exam?
    </span>
  </summary>
  <div class="govuk-details__text">

<p>
          We cannot show any exams for you to book. This may be because you need to: 
  
</p>      
<ul class="govuk-list govuk-list--bullet">

<li>
  arrange a resit (if you failed your last exam or cancelled it within 21 days of the booked date) 
  
</li>
<li>

  complete Part A of your oral exam 
  
</li>
<li>
  reapply for your Notice of Eligibility (NoE) 
  
</li>      
      </ul> 
          <h2 class="govuk-heading-s">
Arranging a resit 
      </h2>  
      <p>Check your email inbox for your exam result or cancellation confirmation email. The emaiI we sent you contains instructions on how you can apply and pay for a resit.</p>
      <h2 class="govuk-heading-s">
Completing the Part A exam 
      </h2>
      <p>Some Maritime and Coastguard Agency (MCA) qualifications require passing the oral proctored Part A exam before Part B can be booked.</p>

<p>If you need to take Part A of the exam, we will have sent you instructions on how to take Part A, along with login details, to your NoE email address.</p>

<p>When you have passed Part A of the oral exam, you will be sent a link to book Part B. You must pass Part B within 1 year of passing Part A. </p>
      <h2 class="govuk-heading-s">
       Reapplying for your NoE 
      </h2>
      <p>An NoE is valid for 5 years. If your NoE has expired, you must apply for a new NoE before booking an exam. An NoE is valid for 5 years. If yours has expired, you need to get a new NoE by reapplying for a <a href="https://www.gov.uk/guidance/apply-for-a-uk-seafarer-coc-deck-and-engineer-officers" target="_blank" class="govuk-link">certificate of competency</a> before you can book an exam.
      </p>

  </div>
</details>

    </div>
  </div>
{% endblock %}
