{% extends "layouts/main-v2.html" %}

{% block pageTitle %}
  Cancelled – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {% from "govuk/components/header/macro.njk" import govukHeader %}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}

{{ hmrcHeader({
  homepageUrl : "/",
  signOutHref : "signed-out",
  useTudorCrown: "true"
}) }}
{{ govukServiceNavigation({
    serviceName: serviceName,
      navigation: [   
      {
      href: "dashboard",
      text: "Dashboard"
      
    },
    {
      href: "exams",
      text: "Oral exams",
      active: true
    }
],
        slots: {
    },
    classes: "govuk-header--full-width-border"
  }) }}
{% endblock %}


{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "Beta"
  },
  html: 'This is a new service. Help us improve it and <a class="govuk-link" target="_blank" href="#">give your feedback (opens in new tab)</a>.'
}) }}
{% endblock %}


{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Exams
      </h1>


      <h2 class="govuk-heading-m">Oral exams</h2>

      <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
          <span class="govuk-visually-hidden">Cancelled</span>
          You cancelled your exam within 21 days of the booked date. You need to apply for a resit.
        </strong>
      </div>

   
      {% set completedStatus = {
        tag: {
          text: "Exam booked",
          classes: "govuk-tag--blue"
        }
      } %}

      {% set incompleteStatus = {
        tag: {
          text: "Cancelled",
          classes: "govuk-tag--red"
        }
      } %}

      {# To switch between the completed and incomplete statues, use some inline logic within the component below, like this: "status: (completedStatus if ... else incompleteStatus)" #}

      {{ govukTaskList({
        idPrefix: "first-section",
        items: [
          {
            title: {
              text: "Marine Engine Operator Licence (MEOL) and Senior MEOL"
            },
            status: incompleteStatus
          }
        ]
      }) }}

    </div>
  </div>
{% endblock %}
