{% extends "layouts/main-v2.html" %}

{% block pageTitle %}
  Record not found – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {% from "govuk/components/header/macro.njk" import govukHeader %}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}

{{ hmrcHeader({
  homepageUrl : "/",
  signOutHref : "?sign-out",
  useTudorCrown: "true"
}) }}
{{ govukServiceNavigation({
    serviceName: serviceName,
        slots: {
    },
    classes: "govuk-header--full-width-border"
  }) }}
{% endblock %}


{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "Beta"
  },
  html: 'This is a new service. Help us improve it and <a class="govuk-link" target="_blank" href="#">give your feedback (opens in new tab)</a>.'
}) }}

    {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Record not found
      </h1>

      <p>
      No record was found that matches the information you entered.
      </p> 
      <p class="govuk-body">
        <span class="govuk-!-font-weight-bold">Date of birth: </span> {{ data['dob-day'] }}/{{ data['dob-month'] }}/{{ data['dob-year'] }}
      </p>
      <p class="govuk-body">
        <span class="govuk-!-font-weight-bold">SDS number: </span> {{ data['sdsNumber'] }}
      </p>
      <p>You can<a href="sds-number" class="govuk-link"> try entering your information again.</a>
      </p>
   

    </div>
  </div>

{% endblock %}
