{% extends "layouts/main-v2.html" %}

{% block pageTitle %}
  {% if data['sds-error'] == 'true' %}Error: {% endif %}Enter your Seafarer Documentation System (SDS) number – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {% from "govuk/components/header/macro.njk" import govukHeader %}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}

{{ hmrcHeader({
  serviceUrl : "/",
  useTudorCrown: "true"
}) }}
{{ govukServiceNavigation({
    serviceName: "Book and manage an oral exam",
  navigation: [
    
  ]
}) }}
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "Beta"
    },
    html: 'This is a new service. Help us improve it and <a class="govuk-link" target="_blank" href="#">give your feedback (opens in new tab)</a>.'
  }) }}
  
    {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% if data['sds-error'] == 'true' %}
        <div class="govuk-error-summary" data-module="govuk-error-summary">
          <div role="alert">
            <h2 class="govuk-error-summary__title">
              There is a problem
            </h2>
            <div class="govuk-error-summary__body">
              <ul class="govuk-list govuk-error-summary__list">
                <li>
                  <a href="#sds-number">{{ data['sds-error-message'] }}</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      {% endif %}

      <h1 class="govuk-heading-l">
Enter your Seafarer Reference Number
      </h1>

          <p class="govuk-body">
Your Seafarer Reference Number may also be known to you as a seafarer documentation system (SDS) number.</p>
          <p class="govuk-body">
This reference number is usually found in your Notice of Eligibility (NoE) email or other related documentation.
          </p>


      <form class="form" action="date-of-birth" method="post" novalidate>

        <div class="govuk-form-group {% if data['sds-error'] == 'true' %}govuk-form-group--error{% endif %}">
          
          
             <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
      Seafarer Reference Number
    </legend>
              <p class="govuk-hint" id="sds-number-hint">
            Your Seafarer Reference Number always start with a '0' and is 10 digits long (for example, 0000123456).
          </p>
          {% if data['sds-error'] == 'true' %}
            <p id="sds-number-error" class="govuk-error-message">
              <span class="govuk-visually-hidden">Error:</span> {{ data['sds-error-message'] }}
            </p>
          {% endif %}
          
          <input 
            class="govuk-input govuk-input--width-10 {% if data['sds-error'] == 'true' %}govuk-input--error{% endif %}" 
            id="sds-number" 
            name="sdsNumber" 
            type="text"
            value="{{ data['sdsNumber'] }}"
            spellcheck="false"
            autocomplete="off"
            inputmode="numeric"
            aria-describedby="sds-number-hint {% if data['sds-error'] == 'true' %}sds-number-error{% endif %}"
          >
        </div>

        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
Cannot find your SRN or SDS number
            </span>
          </summary>
          <div class="govuk-details__text">
            <p class="govuk-body">
<p class="govuk-body">If you cannot find your SRN or SDS number you can request it by:</p>            </p>
            <p><strong>Email:</strong><br>
seafareroperations@mcga.gov.uk </p>

  <p><strong>Phone:</strong><br>
+44 (0)333 399 0007</p>
          </div>
        </details>

        <button type="submit" class="govuk-button" data-module="govuk-button">
          Continue
        </button>

      </form>

    </div>
  </div>

{% endblock %}