{% extends "layouts/main-v2.html" %}

{% block pageTitle %}
  Book and manage an oral exam – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}


{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "Beta"
  },
  html: 'This is a new service. Help us improve it and <a class="govuk-link" target="_blank" href="#">give your feedback (opens in new tab)</a>.'
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Book and manage an oral exam
      </h1>

      <p class="govuk-body">Use this service to:</p>
<ul class="govuk-list govuk-list--bullet">
          <li>book an oral exam</li>
          <li>change your exam date</li>
          <li>cancel your exam</li>
        </ul>
<p class="govuk-body">Booking an oral exam takes around 5 minutes.</p>
<h2 class="govuk-heading-m">Before you start</h2>
<p class="govuk-body">You will need your Seafarer Reference Number (SRN).</p>
<p class="govuk-body">You can find your SRN in the email we sent you about your Notice of Eligibility (NoE).</p>
<div class="govuk-inset-text">You must have a valid NOE. NOE's are valid for 5 years from the date of issue.</div>
<p class="govuk-body">If you do not have a valid NOE, you must <a href="https://www.gov.uk/government/publications/min-690-guidance-on-the-mca-oral-examination-booking-the-issue-of-notices-of-eligibility-noes-and-the-online-oral-examination-processes/min-690-guidance-on-the-mca-oral-examination-booking-the-issue-of-notices-of-eligibility-noes-and-the-online-oral-examination-processes#the-notice-of-eligibility-noenotice-of-assessment-noa-process" class="govuk-link">apply for an NOE</a> and submit all required documents.</p>
<h2 class="govuk-heading-m">Who can use this service</h2>
<p class="govuk-body">This service is for seafarers who are ready to take an oral examination towards obtaining a Certificate of Competency (CoC).</p>
<p class="govuk-body">This includes:</p>
<ul class="govuk-list govuk-list--bullet">
          <li>deck officers</li>
          <li>engineering officers</li>
          <li>cadets</li>
        </ul>
<h3 class="govuk-heading-s">If you are a Deck Officer</h3>
<p class="govuk-body">To book an oral exam for:</p>
<ul class="govuk-list govuk-list--bullet">
          <li>Officer of the Watch (OOW) unlimited or,</li>
          <li>Master (under 200GT) / Officer of the Watch (yachts under 500GT)</li>
        </ul>
<p class="govuk-body">
          You need to have passed
          <a href="https://www.gov.uk/government/publications/min-690-guidance-on-the-mca-oral-examination-booking-the-issue-of-notices-of-eligibility-noes-and-the-online-oral-examination-processes/min-690-guidance-on-the-mca-oral-examination-booking-the-issue-of-notices-of-eligibility-noes-and-the-online-oral-examination-processes#the-online-oral-examination-booking-process-for-officer-of-the-watch-oow-unlimited-ii1-and-master-code-vessels-less-than-200-gtofficer-of-the-watch-yachts-less-than-500-gt-candidates" class="govuk-link"> Part A of the exam </a>
          within the last 12 months.
        </p>

      
      
      {{ govukButton({
        text: "Start now",
        href: "sds-number",
        isStartButton: true
      }) }}

    </div>

    <div class="govuk-grid-column-one-third">

    </div>
  </div>

{% endblock %}
