{% extends "layouts/main.html" %}

{% block pageTitle %}
  Booking confirmation – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {% from "govuk/components/header/macro.njk" import govukHeader %}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}

{{ hmrcHeader({
  serviceUrl : "/",
  useTudorCrown: "true"
}) }}
{{ govukServiceNavigation({
    serviceName: "Book and manage an oral exam",
  navigation: [   
],
    slots: {
      navigationEnd: '<div class="service-menu-signout-wrapper"><a class="govuk-link govuk-link--no-visited-state service-menu-signout" href="/signed-out?sign-out">Sign out</a></div>'
    },
    classes: "govuk-header--full-width-border"
  }) }}
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "Beta"
    },
    html: 'This is a new service. Help us improve it and <a class="govuk-link" target="_blank" href="#">give your feedback (opens in new tab)</a>.'
  }) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {{ govukPanel({
        titleText: "Your exam booking has been cancelled",
        html: "Engine Operator Licence (MOEL) and Senior MOEL<br><strong class='govuk-!-font-size-27'>13:30 (BST), 25 September 2025</strong></span>"
            }) }}

      <p>
        We've sent you a confirmation email.
      </p>
      <h2 class="govuk-heading-m">
     Book a new exam
      </h2>

    <p class="govuk-body">
     You need to apply and pay to book a new exam.
      </p>
      <p class="govuk-body">
     Check your confirmation email for instructions on how to do this.
      </p>
      
      <p>
        <a href="#">
          What did you think of this service?
        </a> (takes 30 seconds)
      </p>


    </div>
  </div>

{% endblock %}
