{% extends "layouts/pattern.html" %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {% from "govuk/components/header/macro.njk" import govukHeader %}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}


{% endblock %}



{% block content %}

  <div class="govuk-grid-row" style="margin-bottom: 50px">
    <div class="govuk-grid-column-one-third">
      <img src="/public/images/mca_logo.jpg" width="150px" style="vertical-align: text-middle; margin-left: -28px;"/>
      </div>
       <div class="govuk-grid-column-two-thirds">

<span class="govuk-caption-xl" style="margin-top: 30px;">Prototype</span>
<h1 class="govuk-heading-l">{{ serviceName }}</h1>

       </div>
      </div>

<div class="govuk-grid-row">
         <div class="govuk-grid-column-two-thirds">
<ul class="govuk-task-list">


<h2 class="govuk-heading-m">Version 2</h2>


{% from "govuk/components/task-list/macro.njk" import govukTaskList %}

{{ govukTaskList({
  idPrefix: "OOE-proto1",
  items: [
      {
      title: {
        text: "v2 Book an exam"
      },
      href: "/ooe/v20-access-and-book/start-page",
      status: {
        text: "Completed"
      }
    },
        {
      title: {
        text: "v2 Manage a booking (reschedule or cancel)
"
      },
      href: "/ooe/v20-21days-manage-exam/start-page",
      status: {
        text: "Completed"
      }
    },
        {
      title: {
        text: "v20.X Manage a booking (less than 21 days' notice)
"
      },
      href: "/ooe/v20-21days-manage-exam/start-page",
      status: {
        text: "Completed"
      }
    }
    
  ]
}) }}

                <h3 class="govuk-heading-s">Oral exam page statuses</h3>


{{ govukTaskList({
  idPrefix: "OOE-proto1",
  items: [
    {
      title: {
        text: "Not booked"
      },
      href: "/ooe/v20-access-and-book/exams-not-booked",
      status: {
        text: "Completed"
      }
    },
        {
      title: {
        text: "Booked"
      },
      href: "/ooe/v20-access-and-book/exams-booked",
      status: {
        text: "Completed"
      }
    },
        {
      title: {
        text: "Cancelled"
      },
      href: "/ooe/v20-access-and-book/exams-cancelled",
      status: {
        text: "Completed"
      }
    },
        {
      title: {
        text: "No exam"
      },
      href: "/ooe/v10-access-and-book/exams-no-exams",
      status: {
        text: "Completed"
      }
    }
    
  ]
}) }}

<h2 class="govuk-heading-m">Original OOE prototypes</h2>


{% from "govuk/components/task-list/macro.njk" import govukTaskList %}

{{ govukTaskList({
  idPrefix: "OOE-proto1",
  items: [
    {
      title: {
        text: "v10.X Book an exam"
      },
      href: "/ooe/v10-access-and-book/maritime-and-coastguard-agency",
      status: {
        text: "Completed"
      }
    },
        {
      title: {
        text: "v10.X Manage a booking (reschedule or cancel)
"
      },
      href: "/ooe/v10-21days-manage-exam/maritime-and-coastguard-agency",
      status: {
        text: "Completed"
      }
    },
        {
      title: {
        text: "v0.X Manage a booking (less than 21 days' notice)
"
      },
      href: "/ooe/v10-21days-manage-exam/maritime-and-coastguard-agency",
      status: {
        text: "Completed"
      }
    }
    
  ]
}) }}

<h3 class="govuk-heading-s">Oral exam page statuses</h3>


{{ govukTaskList({
  idPrefix: "OOE-proto1",
  items: [
    {
      title: {
        text: "Not booked"
      },
      href: "/ooe/v10-access-and-book/exams-not-booked",
      status: {
        text: "Completed"
      }
    },
        {
      title: {
        text: "Booked"
      },
      href: "/ooe/v10-access-and-book/exams-booked",
      status: {
        text: "Completed"
      }
    },
        {
      title: {
        text: "Cancelled"
      },
      href: "/ooe/v10-access-and-book/exams-cancelled",
      status: {
        text: "Completed"
      }
    },
        {
      title: {
        text: "No exam"
      },
      href: "/ooe/v10-access-and-book/exams-no-exams",
      status: {
        text: "Completed"
      }
    }
    
  ]
}) }}

    </div>
  </div>

{% endblock %}