{#
For guidance on how to use layouts see:
https://prototype-kit.service.gov.uk/docs/how-to-use-layouts
#}

  <style>
.govuk-template--rebranded .govuk-header__logo {
float: left !important;
}

  .govuk-template--rebranded .hmrc-header.hmrc-header--with-additional-navigation .hmrc-sign-out-nav {
    margin-bottom: 0px !important;
    padding-top: 28px !important;
}

.govuk-task-list__status {
min-width: 130px !important;
}

.govuk-task-list__name-and-hint {
  max-width: 280px;
}

</style>

{% extends "govuk-prototype-kit/layouts/govuk-branded.html" %}

    {% block footer %}
      {{ govukFooter({
        meta: {
          items: [
            { href: "https://www.gov.uk/help", text: "Help" },
            { href: "https://www.gov.uk/help/privacy-notice", text: "Privacy" },
            { href: "https://www.gov.uk/help/cookies", text: "Cookies" },
            { href: "https://www.gov.uk/help/accessibility-statement", text: "Accessibility statement" },
            { href: "https://www.gov.uk/contact", text: "Contact" },
            { href: "https://www.gov.uk/help/terms-conditions", text: "Terms and conditions" },
            { href: "/manage-prototype/clear-data", text: "Clear session data" }
          ],
          visuallyHiddenTitle: "Footer links"
        }
      }) }}
    {% endblock %}